/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 5 Jan 2023, 9:46:39 pm
    Author     : bites
*/

/* h2 headers underlined */
h2 {
    text-decoration: underline;
}

/* article imgs double thumbnail style border */
article img {
    border: double black;
}

/* img caption gray, center relative to img and italicized */
figure {
    display: inline-block;
    width: fit-content;
}

figure figcaption {
    font-style: italic;
    width: fit-content;
    color: gray;
    margin-left: auto;
    margin-right: auto;
}

/* footer has a top border with content centered and italicized */
footer {
    border-top: 3px solid grey;
    text-align: center;
    padding: 20px;
}

/* style img popup window */
.img-popup {
    position: absolute;
/*    left: 0px;
    top: 0px;*/
    transform: scale(0.4) translateX(-500px) translateY(-300px);   
    z-index: 1;
    border: 20px lightgrey solid;
    filter: drop-shadow(15px 15px 10px lightgrey);

}
