html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: Lato,sans-serif, serif, monospace;
}


h1{
    font-family: serif;
    font-size: 40px;
}

.text-size-heading {
    font-size: 3.2rem;
    line-height: 4.256rem;
}

.rightbox{
    text-align: left;
}


h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#routinecheckupimage{
    margin-left : 0;
}

.container{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.row{
    flex-wrap: initial;
}